@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&display=swap');



body{
  margin: 0;
  padding: 0;
  max-height: 100vh;
  font-family: "Barlow Condensed", sans-serif;
  background: url('../src/assets/background.jpg') no-repeat fixed center;
  background-size: cover;

}