@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&display=swap');



body{
  margin: 0;
  padding: 0;
  max-height: 100vh;
  font-family: "Barlow Condensed", sans-serif;
  
  background-color:#a599ff;
  background-image:
  radial-gradient(at 38% 82%, hsla(203,89%,68%,1) 0px, transparent 50%),
  radial-gradient(at 75% 6%, hsla(231,64%,71%,1) 0px, transparent 50%),
  radial-gradient(at 42% 12%, hsla(24,82%,62%,1) 0px, transparent 50%),
  radial-gradient(at 77% 11%, hsla(103,66%,64%,1) 0px, transparent 50%),
  radial-gradient(at 39% 58%, hsla(229,93%,73%,1) 0px, transparent 50%),
  radial-gradient(at 61% 6%, hsla(266,62%,70%,1) 0px, transparent 50%),
  radial-gradient(at 82% 89%, hsla(2,82%,65%,1) 0px, transparent 50%);
}